.loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.loader-remove {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #103178;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**Cart**/
.cart-list-item{
    display: flex !important;
    font-size: 13px;
}
.cart-text{
    font-size: 14px;
    line-height: 0.8em;
    color: #5c667c;
}
.line-height-0{
    line-height: 0 !important;
}
.product-page-total{
    display: flex;
    align-items: center;
}
.product-page-total>h6{
    position: relative;
    top: 2px;
}
.ps-product--detail #v_total_price{
    font-size: 23px !important;
    line-height: 0 !important;
}
.cart-page-size{
    color: #FD8D27;
    margin-bottom: 5px;
}
.ps-btn--none-stock{
    border: 1px solid #fd5c63 !important;
    background-color: #fd5c63 !important;
    color: white !important;
}

