.loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.loader-full-size{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #103178;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.loader-remove {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #103178;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**Cart**/
.cart-list-item{
    display: flex !important;
    font-size: 13px;
}
.cart-text{
    font-size: 14px;
    line-height: 0.8em;
    color: #5c667c;
}
.line-height-0{
    line-height: 0 !important;
}
.product-page-total{
    display: flex;
    align-items: center;
}
.product-page-total>h6{
    position: relative;
    top: 2px;
}
.ps-product--detail #v_total_price{
    font-size: 23px !important;
    line-height: 0 !important;
}
.cart-page-size{
    color: #FD8D27;
    margin-bottom: 5px;
}
.ps-btn--none-stock{
    border: 1px solid #fd5c63 !important;
    background-color: #fd5c63 !important;
    color: white !important;
}
.loader-full-page{
    display: flex;
    justify-content: center;
    top: 300px;
    position: relative;
}

/** Message Content **/

.main_menu .menu_icon li .message_icon {
    font-size: 17px;
    position: relative;
    bottom: -3px;
}

.main_menu .menu_icon li .message_icon span {
    top: -14px;
}

.fp__dashboard_menu button b {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: var(--colorPrimary);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--colorWhite);
}

.fp__chat_area {
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
}

.fp__chat_body {
    padding: 30px;
    padding-bottom: 0;
    height: 510px;
    overflow: hidden;
    overflow-y: auto;
}

.fp__chat_body::-webkit-scrollbar {
    background: #fff;
    width: 5px;
}

.fp__chat_body::-webkit-scrollbar-thumb {
    background: #ddd;
}

.fp__chating {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 30px;
}

.fp__chating_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.fp__chating_text {
    margin-left: 20px;
    max-width: 84%;
}

.fp__chating_text p {
    background: #F5F9FF;
    color: var(--colorBlack);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid #eeeeee73;
}

.fp__chating_text span {
    display: block;
}

.tf_chat_right {
    justify-content: end;
    flex-direction: row-reverse;
}

.tf_chat_right .fp__chating_text {
    margin-left: 0;
    margin-right: 20px;
}

.tf_chat_right .fp__chating_text span {
    text-align: right;
}

.fp__single_chat_bottom {
    border-top: 1px solid #5e5b5b17;
    position: relative;
    background: var(--colorWhite);
}

.fp__single_chat_bottom label {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    font-size: 13px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: #f0f2f5;
    color: var(--colorPrimary);
    line-height: 31px;
    text-align: center;
    border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.fa-file{
    line-height: 40px;
}

.fp__single_chat_bottom label:hover {
    background: var(--colorPrimary);
    color: var(--colorWhite);
}

.fp__single_chat_bottom input {
    width: 100%;
    border: none;
    padding: 35px 80px 35px 75px;
}
.fa-paper-plane{
    position: relative;
    left: -2px;
}

.fp__massage_btn {
    position: absolute;
    top: 50%;
    right: 28px;
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    background: var(--colorPrimary);
    transform: translateY(-50%);
    color: var(--colorWhite);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.fp__massage_btn:hover {
    background: var(--colorBlack);
}
